<a href="https://colab.research.google.com/github/antoniawatts/CE101-Team-Project/blob/main/Python_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# New section

In [ ]:
import pandas as pd
heart_data = pd.read_csv("/content/heart table/heart.csv")
heart_data.shape
display(heart_data)
heart_data.age.describe()
heart_data_

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

count    303.000000
mean      54.366337
std        9.082101
min       29.000000
25%       47.500000
50%       55.000000
75%       61.000000
max       77.000000
Name: age, dtype: float64

# New section

In [ ]:
# Import
from google.colab import files
uploaded = files.upload()

In [ ]:
# Unzip Data
from zipfile import ZipFile
file_name = "heart_data.zip"
with ZipFile(file_name, 'r') as zip:
  zip.extractall()
  print('done')

In [ ]:
# Read CSV file using pandas
import pandas as pd
df=pd.read_csv('heart.csv')
df.head()